<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kenshi_Mod_Manager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kenshi_Mod_Manager.Settings>
            <setting name="KENSHI_DIRECTORY" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Kenshi</value>
            </setting>
            <setting name="KENSHI_MOD_DIRECTORY" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\workshop\content\233860</value>
            </setting>
        </Kenshi_Mod_Manager.Settings>
    </userSettings>
</configuration>